.form-control {
    border-style: solid;
}

#sect1 {
    background-image: linear-gradient(to right, #F9E7FF, #DAFCFC);
    min-height: 100vh;
}



.card {
    float: right;
    margin-right: 5%;
    box-shadow: 0 0 5px 0 ;
	background: inherit;
	backdrop-filter: blur(10px);
}

h2 {
    font-family: "fantasy";
}

button {
    width: 20%;
}

#input {
    margin-left: 2%;
}

button:hover {
    box-shadow: 10px 10px 10px grey;
}

a {
    color: rgb(0, 102, 255);
    text-decoration: none;
    font-size: medium;
}

h1{
    margin-left: 4%;
    font-family: 'Times New Roman', Times, serif;
}