<div id="sect1" class="container-fluid">
  <div class="card" style="width: 40%">
    <div class="card-body">
      <div class="row mb-3">
        <h2>SignIn</h2>
      </div>
      <form>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="row mb-3">
            <input type="email" class="form-control" id="input">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3">Password</label>
          <div class="row mb-3">
            <input type="password" class="form-control" id="input">
          </div>
        </div>
        <div class="mb-3"><button type="submit" class="btn btn-primary">Sign in</button></div>
        <div class="mb-3" id="forget-msg"><a id="forgot-pass" routerLink="/forgot-pass">Forgot Password ?</a></div>
      </form>
    </div>
  </div>
</div>