<div class="row" id="sect1">
    <div class="row">
        <div class="col-md-7 ">
            <h1>Welcome to AirX Airlines</h1>
            <h2>The New Era</h2>
            <h5>Wings of Change</h5>
            <!-- background image -->
            <img [src]="ticktImg"/>
        </div>

        <div class="col-md-5">
            <div class="card mt-5" style="width: 22rem;">
                <div class="card-body">
                  <!-- Ticket Booking -->
                  <h4>Ticket Booking</h4>

                  <form>
                    <div class="mb-3 mt-4">
                      <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp" placeholder="Form">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp" placeholder="To">
                    </div>
                    <div class="mb-3">
                        <input type="text"onfocus="(this.type='date')"id="date"  class="form-control date-picker hasDatepick" id="exampleInputText" aria-describedby="textHelp" placeholder="Start">
                    </div>
                    <div class="mb-3">
                        <input type="text"onfocus="(this.type='date')"id="date"  class="form-control date-picker hasDatepick" id="exampleInputText" aria-describedby="textHelp" placeholder="Return">
                    </div>
                    <div class="mb-3">
                        <!-- Flight Type -->
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Economy</option>
                            <option value="1">Premium Economy</option>
                            <option value="2">Business</option>
                            <option value="3">First</option>
                          </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled>Special Service Request</option>
                            <option value="1">Wheel Chair</option>
                            <option value="2" disabled>Special Food</option>
                            <option value="3" disabled>Other</option>
                          </select>
                    </div>
                    
                    <button type="submit" class="btn">Submit</button>
                  </form>

                  
                </div>
              </div>
        </div>
    </div>
</div>