<div class="row" id="sect1">
    <div class="row">
        <div class="col-md-7 ">
            <h1>Welcome to AirX Airlines</h1>
            <h2>The New Era</h2>
            <h5>Wings of Change</h5>
            <!-- background image -->
            <img [src]="ticktImg"/>
        </div>

        <div class="col-md-5">
            <div class="card mt-4" style="width: 22rem;">
                <div class="card-body">
                  <!-- Ticket Booking -->
                  <h4>Ticket Booking</h4>

                  <form [formGroup]="contactForm" (ngSubmit)="submit()">
                    <div class="mb-3">
                      <!-- <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp" placeholder="From"> -->
                      <label>From</label>
                      <select class="form-select"  formControlName="fromStation" aria-label="Default select example" (change)="onFlightSelect($event)">
                        <option *ngFor="let flight of flights" [value]="flight.id">{{flight.sStNumber}}</option>
                      </select>
                    </div>
                    <div class="mb-3">
                        <!-- <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp" placeholder="To"> -->
                        <label>To</label>
                        <select class="form-select" aria-label="Default select example" formControlName="toStation">
                          <option  *ngFor="let flight of flights" [ngValue]="flight.dStNumber">{{flight.dStNumber}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <!-- <input type="text"onfocus="(this.type='date')"id="date"  class="form-control date-picker hasDatepick" id="exampleInputText" aria-describedby="textHelp" placeholder="Start"> -->
                        <label>Start Date</label>
                        <select class="form-select" aria-label="Default select example" formControlName="start">
                          <option *ngFor="let flight of flights" [ngValue]="flight.fromDateTime">{{flight.fromDateTime}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <!-- <input type="text"onfocus="(this.type='date')"id="date"  class="form-control date-picker hasDatepick" id="exampleInputText" aria-describedby="textHelp" placeholder="Return"> -->
                        <label>End Date</label>
                        <select class="form-select" aria-label="Default select example" formControlName="completed">
                          <option selected disabled>Completed</option>
                          <option *ngFor="let flight of flights" [ngValue]="flight.toDateTime">{{flight.toDateTime}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                      <label>Flight Type</label>
                        <!-- Flight Type -->
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Economy</option>
                            <option value="1">Premium Economy</option>
                            <option value="2">Business</option>
                            <option value="3">First</option>
                          </select>
                    </div>
                    <div class="mb-3">
                      <label>Special Services</label>
                        <select class="form-select" aria-label="Default select example" formControlName="ssr">
                            <option value="1" [ngValue]="true">Wheel Chair</option>
                            <option value="2" disabled>Special Food</option>
                            <option value="3" disabled>Other</option>
                          </select>
                    </div>
                    
                    <button type="submit" class="btn">Submit</button>
                  </form>

                  
                </div>
              </div>
        </div>
    </div>
</div>