<app-navbar style="position: sticky;"></app-navbar>
<div class="row"id="sect1">

    <div class="row">
        <div class="col-md-3">
            <!-- Station profile page -->
            <app-profile></app-profile>
        </div>
                
            <div class="col-md-4">
                <!-- staff -->
                <table class="table table-success table-striped">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                          Staff
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                      </div>
                  </table>
            </div>
        <div class="col-md-5">
            <!-- wheel chair -->
            <table class="table table-success table-striped">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      Featured
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">An item</li>
                      <li class="list-group-item">A second item</li>
                      <li class="list-group-item">A third item</li>
                    </ul>
                  </div>
              </table>
        </div>
    </div>

</div>