<div class="card">
    <div class="card_background_img"></div>
    <div class="card_profile_img">
        <img [src]="profileImg"/>
    </div>
    <div class="user_details">
        <h1>Station</h1>
        
        
    </div>
    <div class="card_count">
        <div class="count">
            <div class="row">
                <h3>Name :</h3>
                <p>{{station.name}}</p>

                <!-- <h3>Station Number :</h3>
                <p>{{station.Stnumber}}</p> -->

                <h3>Location :</h3>
                <p>{{station.location}}</p>
                
                <!-- <h3>Station Type :</h3>
                <p>{{station.type}}</p> -->
                
            </div>
        </div>
         <div class="btn" (click)="OnLogout()">SignOut</div>
    </div>
</div>