<app-navbar></app-navbar>
<div class="row"id="sect1" >

  <div class="col-md-3"><app-profile></app-profile></div>
  <div class="col-md-9">
    <div class="row" style="margin-left: 3%; margin-top: 2%;"><h2>STAFF DASHBOARD</h2></div>
    <div class="row" style="margin-left: 3%;margin-top: 3%;">
      <div class="col-md-5"><div class="card">
        <div class="card-header">
          Assigned Task
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div></div>
      <div class="col-md-5"style="margin-left: 3%;">
        <div class="card" >
        <div class="card-header">
          Completed Task
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div></div>
    </div>
    <div class="row col-md-10"style="margin-left: 4%;margin-top: 3%;">
      <div class="card">
        <div class="card-header">
          Details
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        </div>
    </div>
  </div>
</div>


