.profile{
    float: left;
    margin-top: 2%;
}
#completed{
    float: right;
    margin: auto;
}
#sect1 {
    background-image: linear-gradient(to right, #F9E7FF, #DAFCFC);
    min-height: 100vh;
    
}