<div class="card">
    <div class="card_background_img"></div>
    <div class="card_profile_img">
        <img [src]="profileImg"/>
    </div>
    <div class="user_details">
        <h1>{{staff.name}}</h1>
        
        
    </div>
    <div class="card_count">
        <div class="count">
            <div class="row">
                <h3>Staff Code :</h3>
                <p>{{staff.staffCode}}</p>

                <h3>Status :</h3>
                <p>{{staff.status}}</p>
                
                <h3>Mobile number :</h3>
                <p>{{staff.contact}}</p>

                <h3>Email :</h3>
                <p>{{staff.email}}</p>
                
            </div>
        </div>
         <div class="btn">SignOut</div>
    </div>
</div>