<div class="card">
    <div class="card_background_img"></div>
    <div class="card_profile_img"></div>
    <div class="user_details">
        <h3>Popat Lal</h3>
        <p>ssr staff</p>
    </div>
    <div class="card_count">
        <div class="count">
            <div class="row">
                <h3>Mobile number :</h3>
                <p>69-8979-xxxx</p>

                <h3>Email :</h3>
                <p>apnakaamkr@airx.com</p>
                
            </div>
        </div>
         <div class="btn">SignOut</div>
    </div>
</div>