<div class="card">
    <div class="card_background_img"></div>
    <div class="card_profile_img">
        <img [src]="profileImg"/>
    </div>
    <div class="user_details">
        <h1>Airline</h1>
        
        
    </div>
    <div class="card_count">
        <div class="count">
            <div class="row">
                <!-- <h3>Name</h3>
                <p>{{airline.name}}</p> -->

                <h3>Status :</h3>
                <p>{{airline.AirlineCode}}</p>
                
                <h3>Operation Type :</h3>
                <p>{{airline.opType}}</p>

                <h3>Fleet :</h3>
                <p>{{airline.fleet}}</p>
                
            </div>
        </div>
        <div class="btn mb-2" (click)="onClick()">Add Wheelchair</div>
         <div class="btn mb-2" routerLink="/add/staff">Add Staff</div>
         <div class="btn" (click)="OnLogout()">SignOut</div>
    </div>
</div>